*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    font: 2em sans-serif;
    color: rgb(51, 51, 10);
    font-weight: 500;
}
.big{
    font-size: 25px;
}
svg{
    background-color: aquamarine;
}
#tooltip{
    position: absolute;
    background-color: wheat;
    color: black;
    padding: 5px;
    display: none;
    border-radius: 3px;
    width: auto;
    pointer-events: none;	
    font: 19px sans-serif;
}
.orange{
    background-color: orange;
    width: 25px;
    height: 25px;
}
.navy{
    background-color: navy;
    width: 25px;
    height: 25px;
}
.flex{
    display: flex;
}
#legend{
    position: absolute;
    right: 50px;
}